## HYPOTHESIS TESTING:CUSTOMER ORDER FORM DATA
### PROBLEM STATMENT: TeleCall uses 4 centers around the globe to process customer order forms.
### They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  
### The manager wants to check whether the defective %  varies by centre. 
### Please analyze the data at 5% significance level and help the manager draw appropriate inferences

### Importing the libraries

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import scipy
from scipy import stats

### Reading the csv files

In [5]:
order_form=pd.read_csv("Costomer+OrderForm.csv")
order_form.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [6]:
order_form

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

### Label encoding

In [5]:
order_form=order_form.apply(LabelEncoder().fit_transform)
order_form.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

### H0- % of defective not varies by centre
### H1- % of defective are varies by centre

In [6]:
stats.f_oneway(order_form["Phillippines"],order_form["Indonesia"],order_form["Malta"],order_form["India"])

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

## Inference:
### P value is greater than the 0.05 , we accept null hypothesis, means the defective percentage does not vary with the centre